<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card-body text-center">
        <h2 class="card-title">Create a new sell</h2>

        <%= simple_form_for(@sell) do |f| %>
          <div class="form-group">
            <%= f.hidden_field :user_id, value: current_user.id %>
          </div>

          <div class="form-group">
            <%= label_tag 'products', 'Select Products', class: 'fs-4 mt-1 mb-1' %>
            <%= select_tag 'sell[product_ids][]', options_for_select(Product.all.map { |product| [product.name, product.id] } ), class: 'fs-4 mt-2 mb-3 p-1 slim-select', data: { controller: 'select' }, multiple: true, id: 'product-select' %>
          </div>

          <div class="text-center">
            <%= f.submit 'Create Sell', class: 'btn btn-success' %>
            <%= link_to "Cancel", sells_path, class: "btn btn-danger" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
